
        
        *{  
            box-sizing: border-box;
            margin:0;
            padding: 0;
        }
        body{
            background-color:black;
        }
        html{
           scroll-behavior: smooth;
        }
        nav{
            text-align: center;
        }
        nav ul li{
            
            display: inline-block;
            font-size: 18px;
            margin: 10px 20px;
         
        
        }
        nav ul li a{
            text-decoration: none;
            color: #fff;
            position: relative;
           
         }
        nav ul li a::after{
            content: '';
            width: 0;
            height: 3px;
            background:#ff004f;
            position:absolute;
            left: 0;
            bottom:-8px;
            transition: 0.5s;
          
        }
        nav ul li a:hover::after{
            width: 100%;
        }
        /* .box{ 
            height: 500px;
            width:400px;
            border-radius: 0 0 0 200px;
            background: #ab5252;
            background: url("images/WhatsApp Image 2025-12-29 at 12.58.43 PM.jpeg") 50% no-repeat;
            position: absolute;
            right: 80px;
            left: 960px;
            top:200px;
           
        }
        .box2{
            height: 480px;
            width:400px;
            background-color:rgb(11, 56, 11);
            rotate: -1.59deg;
            border-radius: 0 0 0 200px;
            position: absolute;
            right: 100px;
            left: 940px;
            top: 210px;
        } */

        img{
            margin-left: 24px;
            height: 100px;  
        }
        .HomeText{
            color: #FFF;
            font-size: 60px;
            display: inline-flex;
            gap:30px;
            position: absolute;
            top:220px;
            right: 80px;
            flex-direction: column;
            
        }
        div>p{
            font-size: 24px;
            height: auto;
            width:532px;
        }
        h1{
            color:#018DB0;
            font-size: 67px;
            width: 600px;

        }
        span{
            text-transform: capitalize;
            color: orange;
        }
        .logo{
            margin-left:60px;
           
        }
        #Home{
            width: 100%;
            height: 100vh;
            background-image:url("images/Untitled.jpeg") ;
            background-size: cover;
            background-position: -300px;
        }

        /* ----------about---------- */
   #About{
    height:90vh;
    margin-top: 80px;
    margin-left:80px ;
    color:#fff;
    
   }
   #About span{
    font-size: 20px;
   }
   .content-2{
    width: 500px;
    position:relative;
    line-height: 30px;
    left: 700px;
    top: 40px;
   }
    .content-1 img{
    height:600px;
    width: 600px;
    border-radius: 15px;
    position: absolute;
    } 
    .tab-titles{
       
        display: flex;
        margin: 20px 0px;
        
       
    }  
    .links{
        color: #FFF;
        background: none;
        border: none;
        cursor: pointer;
        margin-right:  50px;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        
    }
   
    .content{
            line-height: 30px;
            margin-top: 30px;
            display: none;
            animation: fadeIn 0.4s ease-in-out;

    }
    .content.active{
          display: block;
    }
    
    .links::after{
            content: '';
            width: 0;
            height: 3px;
            background:#ff004f;
            position:absolute;
            left: 0;
            bottom:-8px;
            transition: 0.5s;
          
        }
    .links.active::after{
            width: 100%;
    }
    /* ------contact----- */
    #Contact{
        display: block;
        margin-top: 90px;
        margin-left: 90px;
        height: 400x;
        color: #FFF;
        
        
    }
    .contact-container{
        line-height: 60px;
    }
    .cont{
        font-size: 50px;
        font-weight: 500;

    }
    .form-container{
        position: relative;
        top:-360px;
        left: 400px;
        background-color: gray;
        margin: 30px;
        padding: 20px;
        width:fit-content;
        border-radius: 10px;
       
    }
    #email{
        width: 600px;
        padding: 10px;
        text-align: center;
        margin: 10px;
        border-radius: 10px;
        border-style: none;
       

    }
    #username{
        width: 600px;
        padding: 10px;
        text-align: center;
        margin: 10px;
        border-radius: 10px;
        border-style: none;
        
    }
    textarea{
        margin: 10px;
        width: 600px;
    }
    button{
        margin: 10px;
        padding: 5px;
        border-radius: 4px;
        border-style: none;

    }
      
    i{
        color:oklch(98.5% 0.002 247.839);
    }
    i:hover{
        color: #ff004f;

    }
    .social{
      font-size: 30px;
    }
    .myservices{
        color: #FFF;
        padding: 10px;
        display: block;
        margin-top: 90px;
        margin-left: 90px;
        height: 300px; 
    }
    .myservices>p{
        font-size: 40px;
        font-weight: 500;
    }
    .box1{
        width:200px ;
        height:200px;
        padding: 20px;
          background-color: rgb(67, 61, 61);
        border-radius: 12px;
    }
    .box2{
        position: relative;
        padding: 20px;
        left: 400px; 
        top: -200px;
        width:200px ;
        height:200px;
        background-color: rgb(67, 61, 61);
        border-radius: 12px;

    }
    .box3{
        position: relative;
        left: 800px; 
        top: -400px;
        padding: 20px;
        width:200px ;
        height:200px;
        border-radius:12px;
          background-color: rgb(67, 61, 61);

    }
    .boxes{
        margin-top:50px;
    }
    .des{
        font-size: 10px;
    }
    .learn{
        font-size: 14px;
        margin-top: 10px;
        color: #fff;
    }
    .reset{
        background-color: #ff004f;
        color: #fff;
    }
    .Submit{
        background-color: #ff004f;
        color: #fff;

    }
    .Download-button{
        background-color: #ff004f;
        color: #fff;
    }
    .learn:hover{
        color: #ff004f; 
    }
    .view{
        background-color: #ff004f;
        color: #fff;
    }
    .hire{
          background-color: #ff004f;
          color: #fff;
    }